.inline{
    display:  inline-block;
    padding-right: 10px;
    padding-bottom : 4px;
}
.ui.list{
    height :200px;
    /*width : 500px;*/
    overflow-y: scroll;
    word-wrap: break-word;
    flex: inherit;
    /*white-space:nowrap;*/
}